body {
    margin: 0;
    color: #333333;
    padding: 10px 20px;
    font-family: Roboto, Arial, sans-serif;
}

.main_content {
    display: flex;
    margin-top: 10px;
}

.button {
    margin: 0;
    padding: 5px 20px;
    color: #FFFFFF;
    border: none;
    background-color: #1F6ED4;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 20px;
    align-self: center;
}

textarea {
    box-sizing: border-box;
    width: 520px;
    border-radius: 5px;
    resize: none;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
    border: 1px solid #bbb;
    min-height: 480px;
    display: block;
    padding: 5px;
}

p {
    margin: 0;
}

pre {
    margin: 5px 0;
}

input {
    padding: 5px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
    border: 1px solid #bbb;
    width: 520px;
    border-radius: 5px;
}
