html,
body,
div,
span,
h1,
p,
a,
img,
ol,
ul,
li,
form,
label,
canvas,
section,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

:root {
    --main-bg-color: #FFFFFF;
    --main-font-color: #000000;
    --main-font-size: 16px;
    --button-bg-color: #000000;
    --button-font-color: #FFFFFF;
    --main-button-bg-color: #ec1a37;
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    font-size: var(--main-font-size);
    height: 100%;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    animation: text_appear 1s ease;
}

.container {
    padding: 20px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    align-items: center;
    padding-top: 40px;
    flex: 1;
    /* justify-content: space-between; */
}

.chosen-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    transform: scale(1);
    opacity: 1;
    transition:
        transform 0.3s ease,
        height 0.3s ease,
        opacity 0.3s ease;
}

.chosen-item.hidden {
    /* display: none; */
    transform: scale(0);
    opacity: 0;
    height: 0;
}

.button {
    display: flex;
    align-items: center;
    margin: 0 10px 10px 0;
    padding: 10px 40px 10px 20px;
    border: none;
    border-radius: 100px;
    background: var(--button-bg-color);
    color: var(--button-font-color);
    cursor: pointer;
    animation: btn_appear 0.5s ease;
    font-weight: 500;
    width: 100%;
    max-width: 240px;
    font-size: 18px;
}

.button img {
    filter: invert();
    width: 50px;
    margin-right: 20px;
}

.item-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    border: none;
    border-radius: 50%;
    background: var(--main-button-bg-color);
    cursor: pointer;
    width: 250px;
    min-width: 200px;
    border: 20px solid black;
    overflow: hidden;
}

.main-btn-image {
    width: 100%;
    animation: main_image_appear 0.5s ease;
}

@keyframes btn_appear {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes main_image_appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
